# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db

# Virtualenv
venv/
ENV/
env/

# Editor/IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Arduino / Hardware
*.hex
*.elf
*.bin
*.eep
*.tmp

# Logs
*.log

# Outros temporários
*.tmp
*.bak